---
title: Presets
---

<div class="presets">
  <div class="container">
    <h1>Daniel Wylie</h1>
    <h2>Lightroom Presets</h2>

    <p>
      <a class="btn" href="/files/DanielsPresets.zip" onclick="ga('send', {  hitType: 'event',  eventCategory: 'Download',  eventAction: 'click',  eventLabel: 'Preset1'});return true;">Download</a>
    </p>

    <h3>Golden hour</h3>
    <p>Too many shadows? 'Golden hour' will fix that for ya' - works best when you're pointing into the light.</p>

    <div class="sample cocoen">
      <img src="/img/presets/one_before.jpg"/>
      <img src="/img/presets/one_after.jpg"/>
    </div>

    <div class="sample cocoen">
      <img src="/img/presets/two_before.jpg"/>
      <img src="/img/presets/two_after.jpg"/>
    </div>

    <h3>Moody forest</h3>

    <p>Those deep greens and browns. Works best when you're out in nature.</p>

    <div class="sample cocoen">
      <img src="/img/presets/three_before.jpg"/>
      <img src="/img/presets/three_after.jpg"/>
    </div>

    <div class="sample cocoen">
      <img src="/img/presets/four_before.jpg"/>
      <img src="/img/presets/four_after.jpg"/>
    </div>

    <h3>Beach life</h3>

    <p>Long summers days, through rose tinted glasses. Works best when you're on a beach.</p>

    <div class="sample cocoen">
      <img src="/img/presets/five_before.jpg"/>
      <img src="/img/presets/five_after.jpg"/>
    </div>

    <div class="sample cocoen">
      <img src="/img/presets/six_before.jpg"/>
      <img src="/img/presets/six_after.jpg"/>
    </div>

    <h3>Notes</h3>

    <p>1, These presets were developed on Nikon cameras shooting in RAW, your mileage may vary.</p>
    <p>2, Presets aren't the whole package, most photos will require further processing.</p>
    <p>3, Tested in the latest versions of Lightroom &amp; Lightroom Classic.</p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="/cocoen/js/cocoen.min.js"></script>
<script src="/cocoen/js/cocoen-jquery.min.js"></script>
<script>
    $(function () {
        $('.sample').cocoen();
    })
</script>